[2020-01-31 11:59] michael-spengler opened #1 "Publish this Action on GitHub Marketplace"
I really like this feature. Could you please publish this Action on the GitHub Marketplace?

[2020-02-03 12:23] #1 closed

[2020-02-03 12:23] michael-spengler opened #3 "state that it is an alpha version in next release within marketplace"

[2020-02-04 21:40] ibakshay commented on #3
@michael-spengler, yes, I have stated in the readme and released in the marketplace

[2020-02-04 21:40] #3 closed

[2020-02-24 05:01] bootstraponline commented on #1
I found this project today! The CLA GH Action is amazing. Thanks so much for publishing it to the market.

[2020-02-24 05:18] bootstraponline opened #7 "Committer check failing"
URL to the linked Repo/Org:
https://github.com/Flank/flank/pull/621

Steps to reproduce the problem:

1. Submit a PR
2. Comment. CLA assistant reports `CLA Assistant Lite All Contributors have signed the CLA.`
3. Check fails https://github.com/Flank/flank/pull/621/checks?check_run_id=463938756

What is the expected result?
CLA check passes.

What happens instead?

- https://github.com/Flank/flank/

[2020-02-24 05:25] bootstraponline commented on #7
![image](https://user-images.githubusercontent.com/1173057/75130377-ed962a00-5682-11ea-8bea-cb943a0b664e.png)

I closed then opened the PR and now it works. This seems a bit buggy?

[2020-02-24 11:59] ibakshay commented on #7
Hi @bootstraponline, It looks like the `master` branch is protected and hence, CLA Action is not able to create a signature file where the contributors signatures will be stored. An easy workaround is to change the `branch`input in the CLA workflow file to another branch which is not protected for storing the contributors signatures.

![Screenshot 2020-02-24 at 11 25 36](https://user-images.github

[2020-02-24 12:00] ibakshay commented on #1
@bootstraponline, Thank you very much  😄

[2020-02-24 13:58] Writhe commented on #7
Hi @ibakshay,

I think there might be an issue with error handling for the Promise.all, [here](https://github.com/cla-assistant/github-action/blob/fae08470efc6e12802692077a0d1858f3414b9ca/src/checkcla.ts#L93). Since the resulting promise is not `await`ed (not is its `.catch` method called), the condition at line 94 is always true and line 98 is - in effect - unreachable.

[2020-02-24 15:10] ibakshay commented on #7
Hi, @Writhe Thank you very much for pointing out, it will definitely help us for debugging.
I have used Promise.all rather than classic async/await to make parallel API calls where ever possible to speed up the process.
Also, Feel free to raise a Pull Request to fix this error handling if you like to  😄.

[2020-02-25 17:39] Writhe commented on #7
Done.

Ah, I didn't suggest `await`ing the promises sequentially. What I meant was the output of Promise.all() - which is a promise itself - should be `await`ed or otherwise handled in case any of the promises gets rejected. I should've phrased it better.

[2020-02-26 15:26] ibakshay opened #9 "Implement tests"
Test cases are not implemented for this GitHub Action yet. If anyone is willing to contribute,  then feel free to raise a Pull Request and your contribution is highly appreciated 😄.

[2020-04-01 00:01] cliffchapmanrbx opened #12 "Perform commits on a separate repository"
Hi all,

We're looking very closely at this project for deploying a CLA blocking system to our repos. I'm pretty excited about the idea of not having to run a bot somewhere on our infrastructure just to get it working.

It looks like the bot will currently attempt to commit back to the same repository in order to add new approvals. How difficult would it be to implement a remote repository search

[2020-04-01 07:39] ibakshay commented on #12
hi @cliffchapmanrbx, thank you very much for reaching out to us.
Yes, this bot attempts to commit back to the same repository using built-in [GitHub Actions Token](https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token). It has fixed token permissions and we cannot use this token to commit to a different repository.

For remote repo support, You

[2020-04-01 21:34] cliffchapmanrbx commented on #12
Hi @ibakshay, thanks for the writeup. It certainly helps point me in the right direction.

It looks like the tool is [just using Octokit](https://github.com/cla-assistant/github-action/blob/f2951bfe08846ae8c62b12420390a6500bf2394e/src/checkcla.ts#L71) to pull file contents, which just uses the standard GitHub API. I've used OctoKit (via .NET) previously so this should be straightforward.

One thin

[2020-04-03 08:31] ibakshay commented on #12
@cliffchapmanrbx,  okay!! sounds great to me 💯. Creating a GitHub App on `github.com` is free and so you don't need to worry about any recurring costs.
  Looking forward to your Pull Request 😄.

[2020-05-13 20:31] hanxiao opened #14 "kindly remind on the github token restriction will limit the usage of this action"
First, Great work!

Please be careful when you continue developing this action. For a pull request coming from a fork (which is where many opensource projects' contribution coming from and thats why people need a CLA bot), Github Action grants only a *read access* on GITHUB_TOKEN; and PAT secrets are not available on forks. These two restrictions will greatly limit the usage of this action.

Pleas

[2020-05-24 16:40] ibakshay commented on #14
Hi @hanxiao, First, I am really sorry for responding so late.
Thank you very much for taking the time to report this design issue with the GitHub Actions platform. You are absolutely right. CLA bot will be mostly required only for the pull requests coming from the forks.

We are aware of this issue and I myself have raised this issue multiple times in several discussions. In one of the discussion,

[2020-06-09 23:00] Naatan commented on #14
Couldn't you just write at merge time? Granted accepted CLA's that never had their PR merged would have to re-accept, but that's better than this github action being entirely useless for its intended use-case.

[2020-06-10 02:45] cliffchapmanrbx commented on #12
Okay, I have a confession.

I started working on this feature and wanted to unit test it, and started having to write more code and more code to make it work. I'm not a JavaScript or TypeScript developer (I mostly work in .NET) so I had to learn a lot along the way to make it work.

Eventually I just started rewriting the code. The original code's processes worked great but I was having trouble un

[2020-06-14 16:53] ghuntley commented on #14
Nice idea @Naatan!

[2020-06-14 21:57] ibakshay commented on #12
Hi @cliffchapmanrbx, thank you very much for taking the time to inform me about the progress. I really appreciate it. I am very happy that you are able to implement this functionality and you also added unit tests. I  just had a look at your project.

There is actually an open issue for implementing [unit tests](https://github.com/cla-assistant/github-action/issues/9) for this project. If you like

[2020-06-14 22:09] ibakshay commented on #14
Hi @Naatan,  Could you please elaborate on your proposal ?.
Do you mean to write the CLA signatures when the pull request is merged?

[2020-06-15 08:59] hanxiao commented on #14
btw, reducing the frequency of posting comment is probably something @ibakshay may consider?

- right now if a PR comes from a fork, and the contributor does not sign CLA, the bot can run but fail to post any comment on this PR, as it has read-only access.
- now the maintainer could join the thread in and reply `recheckcla` to grant the bot write access. Comments are now posted on the thread.
- ne

[2020-06-15 18:32] Naatan commented on #14
Exactly. Obviously not ideal, but with the limitations that exist I think that's the best you can do.

[2020-06-17 15:14] ibakshay commented on #14
Hi @hanxiao, Thank you very much for the detailed  write up and proposal..

Awesome insights 💯. I never thought about this. You are absolutely right. Unnecessary comment  posting from bot  is not required at all if all the committers have already signed the CLA. I will roll out a release soon to remove the unnecessary comment from this bot. Also, Feel free to raise a pull request for your proposal

[2020-06-17 15:23] ibakshay commented on #14
I believe `pull_request.closed` also belongs to `pull_request` event. Unfortunately,  there is [no write access](https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token#permissions-for-the-github_token) for any type of  pull_request events coming from the forks.  For getting more insights, you can [read this thread](https://github.com/actions/labe

[2020-07-08 16:24] mattgreg commented on #12
We may have solved this problem in the Ockam fork

https://github.com/ockam-network/cla-action

We are doing some final checks on the workflow and we should push it to main in the next day or two.

If the community likes our changes and updates, we are happy to submit a PR to move our added functionality upstream.

[2020-07-08 16:34] mattgreg opened #16 "Replace references/variable names from 'white' list to 'allow' list"
URL to the linked Repo/Org:
https://github.com/ockam-network/cla-action

We are using a fork of CLA-Assistant and would like to replace references of white/black lists to allow/deny lists

[2020-07-08 20:46] domenkozar commented on #14
The plan sounds really good! I'd note that the first time the check fails, it could print what the user should do in the logs. Currently it only says it failed to post a comment (it should probably check if it has access first and fail with a better error).

[2020-07-09 06:42] ibakshay commented on #12
@mattgreg sounds great to me!!. Please go ahead and create a Pull Request. This functionality is one of the key functionalities which is missing in this CLA Assistant GitHub Action. So, your contribution will be very beneficial to the open-source community.

[2020-07-09 07:02] ibakshay commented on #16
@mattgreg, yes absolutely and I really appreciate it. Please raise a Pull Request after you have changed naming from `white` list users to `allow` list users in your fork. I will be very happy to accept your contribution :).

[2020-07-14 17:24] TGTGamer opened #17 "feat: handle labels"
Heya guys,

Should be a simple one for you to implement. I'd like to be able to label my pull requests once someone has signed the CLA.

I currently have the following labels:
CLA - Not Required (applied when specific conditions are met - done through workflow)
CLA - Signed
CLA - Unsigned

Part 1: I'd like to have an input for these labels to be automatically assigned when the bot runs.
Part 2: I'

[2020-07-23 22:33] mattgreg opened #19 "reply to CLA-assistant from email doesn't trigger GitHub Action"
URL to the linked Repo/Org:
https://github.com/ockam-network/website/pull/169

Steps to reproduce the problem:
1. Notify a PR that they need to sign the CLA
2. Author of PR gets an email asking for them to trigger the GitHub Action
3. Author of PR replys to the email with "I have read the CLA Document and I hereby sign the CLA"
4. GitHub action does not trigger because of the extra content sent al

[2020-07-24 10:56] ibakshay commented on #16
Hi @mattgreg, I have changed all references from `whitelist` to `allowlist`.. It will be reflected in next release :).

[2020-07-24 11:38] ibakshay commented on #12
@mattgreg, Could you please update on your progress ?. Have you already implemented this feature ?. If yes, It will be great If you can submit a Pull Request 😄 . If not, I will develop this feature next week or so..

[2020-07-24 11:49] ibakshay commented on #19
@mattgreg, Thank you for reporting. This seems like a bug on our side. I will check it out and do the necessary adjustments in code.

[2020-07-24 11:58] ibakshay opened #23 "Add Changelog for releases"

[2020-07-24 12:02] ibakshay commented on #17
Hi @TGTGamer, I am sorry for the late response. This sounds like a really cool feature 😎 . I especially like the `ignorelabel` input. Sure, I will add this feature in our backlog and I will get back to you after it is implemented. Pull request is welcome too :)

[2020-07-24 12:06] ibakshay commented on #16
I have rolled out a new release `v1.4.1-alpha` and these changes are already reflected :).

[2020-07-24 18:12] mattgreg commented on #12
@ibakshay We have this working in production at https://github.com/ockam-network

The `cla-action` repo has the code we can submit with a PR to this upstream project.
Note the `contributors` repo and [the JSON file with the `allow` list of contributors](https://github.com/ockam-network/contributors/blob/master/cla-signers.json)

If you'd like to test the UX in our project, I'd suggest submitting a

[2020-07-24 18:34] #16 closed

[2020-07-25 17:13] alexanderkozlenko opened #24 "Backward compatibility with the previous version"
Is it possible to add the ability for exporting metadata from the previous version of the CLA assistant (https://cla-assistant.io) in JSON format that will be accepted by the new version (GitHub Action)? Currently, the previous version exports only in CSV format, and there is no way to upgrade to the new version keeping the list of contributors who already signed agreement.

[2020-07-27 02:26] Shane32 opened #25 "Release v1.4.1 has wrong version number"
Release v1.4.1-alpha was released as version `@v1.4.1-alpha` instead of `v1.4.1-alpha`.  This causes this error when using the samples:

`An action could not be found at the URI 'https://api.github.com/repos/cla-assistant/github-action/tarball/v1.4.1-alpha'`

And the temporary solution is to use this line:

`uses: cla-assistant/github-action@@v1.4.1-alpha`

Except that it doesn't work because of t

[2020-07-27 02:56] Shane32 opened #26 "path-To-cladocument property is missing from action.yml"
The `path-To-cladocument` property is missing from the `action.yml` file, causing this warning when running the github action:

`Unexpected input(s) 'path-To-cladocument', valid inputs are ['path-to-signatures', 'branch', 'blockchain-storage-flag', 'label', 'empty-commit-flag', 'allowlist']`

I suggest adding something like this:
[code]

[2020-07-27 02:57] Shane32 commented on #26
It would probably be preferred if it was lowercase, like `path-to-cladocument`, but then you probably also need to change `url.ts` to match

[2020-07-27 08:20] ibakshay commented on #26
@Shane32, thank you for raising this issue. It is a bug from my side and I am working on it. I will probably fix and draft a new release by tomorrow. I will let you know once I am done 😄 .

Sure, makes sense. I am thinking of this naming `path-to-cla-document`

[2020-07-27 15:04] Shane32 commented on #25
Note that v1.4.0 is identical to v1.4.1 and can be used with:

`uses: cla-assistant/github-action@V1.4.0-alpha`

[2020-07-28 20:51] ibakshay commented on #26
I have rolled a new release `v1.4.2-alpha` and this release should fix this issue :). Thank you for raising this issue once again ..

[2020-07-28 20:51] #26 closed

[2020-07-28 21:00] ibakshay commented on #25
You are absolutely right. It is my mistake. Anyways, even `v1.4.0-alpha` has a bug so please don't use this version.

You can use the latest version `uses: cla-assistant/github-action@v1.4.2-alpha` in your projects :).  This release also fixed the issue which you have created  [here](https://github.com/cla-assistant/github-action/issues/26)

[2020-07-28 21:53] Shane32 commented on #25
Thanks!

[2020-07-28 21:53] #25 closed

[2020-07-31 19:35] matextrem opened #28 "Cannot read property 'push' of undefined"
The action is failing when it's triggered on an PR.

The error says: `Cannot read property 'push' of undefined`

You can see the error here: https://github.com/gnosis/safe-react/runs/932889230?check_suite_focus=true

[2020-08-01 17:58] ibakshay commented on #28
Hi @matextrem, looks strange to me. Could you please check If the `master` branch is protected ??..

[2020-08-01 18:18] ibakshay commented on #24
Hi @alexanderkozlenko, thank you for reaching out to us. You are right. The `CLA Assistant` exports only in CSV format and exporting in JSON format is not supported yet. This seems like a **must-have feature** as it will totally automate the signature migration process. Feel free to create a PR with this feature or promote it among developers, who could contribute it :) . Otherwise, I am afraid it

[2020-08-02 22:27] matextrem commented on #28
@ibakshay master branch is protected that's the reason why I'm pointing to another branch in the CLA action script.

[2020-08-04 07:09] ibakshay commented on #14
Hello @ghuntley @hanxiao @domenkozar @Naatan :)

Today, GitHub Actions rolled out a [series of updates](https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/), and Pull Requests from forks are supported 😄 . We have to make use of this new event `pull_request_target` instead of `pull_request` event.  So, this action will be fully usable from now on.. I will

[2020-08-04 10:16] mikheevm commented on #28
@matextrem the branch didn't exist on the repository

[2020-08-04 10:48] davidalbela commented on #28
I have the same question, why CLA send that error in other branches that are not protected?

[2020-08-05 08:02] #28 closed

[2020-08-05 11:54] AnandChowdhary opened #32 "Commit message config"
Would love it if we can have support for a custom commit message for `"@#contributorname# has signed the CLA"` and `"Creating file for storing CLA Signatures"`. In our case, we're using [Gitmoji](https://gitmoji.carloscuesta.me/) so we'd love to change it to `":wrench: @#contributorname# has signed the CLA"`, for example. People using Semantic Release will also be able to do `"chore(cla): @#contri

[2020-08-06 01:04] shunkakinoki opened #34 "How to configure `allowlist` for dependabot?"
## Required

Thanks for the awesome repo! 🔥🔥🔥
I was trying to configure how to bypass dependabot for cla action, but have trouble in doing so

The slugs I've tried but have not worked:

[code]

[code]

[code]

URL to the linked Repo/Org:
https://github.com/sentrei/sentrei/pull/132
https://github.com/sentrei/sentrei/pull/132/checks?check_run_id=951771337

What is the expected result?

The check pas

[2020-08-06 01:42] shunkakinoki commented on #34
[code]

for now.

[2020-08-06 06:33] ibakshay commented on #34
Hi @shunkakinoki, Thank you very much:)  I tried in one of my [test repo](https://github.com/ibakshay/todo-app/pull/8) and both the below slugs seems to be working fine.
[code]
But when I was testing, I also found out that there is one bug - this cla action creating an empty commit sometimes - which I will fix and roll out a new release by this weekend.

[2020-08-06 11:59] #32 closed

[2020-08-08 06:03] AnandChowdhary opened #39 "[BUG] Status check failing on sign"
**Describe the bug**
When someone makes a PR who hasn't signed the CLA, the status check fails and there is a comment requesting them to sign. When they sign, the comment text is updated to "All contributors have signed the CLA" but the status check is still "failing". However, when a new label is added, CLA Assistant runs again and adds a new, passing, status check. So there are two checks now, o

[2020-08-08 07:39] ibakshay commented on #39
Hi @AnandChowdhary, The event `issue_comment` doesn't have access to the [commit status](https://docs.github.com/en/rest/reference/repos#statuses). This failed check is from the previous commit of the user. You can see under the `actions` tab that the workflow run when the user signed has actually passed like the below screenshot.

![Screen Shot 2020-08-08 at 09 32 42](https://user-images.githubus

[2020-08-08 07:39] ibakshay commented on #39
I will let you know here, soon after I am done with it. So, let's keep this issue open for tracking.

[2020-08-11 21:31] mattgreg commented on #12
Hey @ibakshay we were going to submit a PR today, but I see that you've done some work on this issue.

Do you want me to do anything with our fork?
Here is the commit with this feature:
https://github.com/ockam-network/cla-action/commit/da5674edd7bbce94a78d9921b58e523dadb4548e

[2020-08-11 21:39] ibakshay commented on #12
Hi @mattgreg, I actually introduced similar `remote-repo-signaturestorage-support` last week. I haven't updated on the readme file yet as I am still developing other features and bug fixes. However, thank you very much for coming forward to contribute to this repository :).

[2020-08-11 21:45] mattgreg commented on #12
is there any part of the functionality the way we wrote it that you want us to contribute? We'd like to be in sync with your upstream branch.

[2020-08-14 00:49] shunkakinoki commented on #34
hi @ibakshay

Thanks for the reply.
Yes, my bad it's working great! Thanks for the work. Seriously appreciate it!
I missed out on the fact that when you update a PR branch, that actor has to be included in the allowlist, or it will fail.

[2020-08-14 00:49] #34 closed

[2020-08-21 13:32] ZoranPandovski opened #41 "Multiple CLA comments, after each commit"
**Describe the bug**
After each new commit in the same pull request, the CLA bot is adding the comments `CLA Assistant Lite All Contributors have signed the CLA`. Example [PR link](https://github.com/mindsdb/mindsdb/pull/657). I guess this is not expected behaviour, there should be only one comment that contributor signed up. Or maybe there is some flag to disable this that I can't find? Thanks
**

[2020-08-23 18:49] mattgreg commented on #12
I don't see us updating our fork to the upstream branch in this project in the foreseeable future. The functionality we built in our fork serves our purpose for the time being. We are focusing on core product development right now and won't be revisiting CLA automation anytime soon.

It was disappointing that the work we put into our fork wasn't able to be merged with your upstream project, as we

[2020-08-24 09:05] domenkozar commented on #14
Thank you! I will upgrade today/tomorrow.

[2020-08-24 13:49] ZoranPandovski commented on #41
Thanks, @ibakshay. It works.

[2020-08-24 13:49] #41 closed

[2020-08-24 17:15] AnandChowdhary opened #45 "[BUG] CLA assistant failing by default"
Since updating to the most recent alpha, all the CLA checks are failing.

![Screen Shot 2020-08-24 at 22 45 28](https://user-images.githubusercontent.com/2841780/91075323-853cfb00-e65b-11ea-9410-d3c9224aece5.png)

[2020-08-24 19:33] ibakshay commented on #45
Hi @AnandChowdhary, I have removed the inputs `blackchain-storage-flag` and  `empty-commit-flag` as we are not using it anymore. That is why you are getting this error. Could you please take the updated CLA workflow file from the [readme file](https://github.com/cla-assistant/github-action/blob/master/README.md)?.

[2020-08-24 19:35] AnandChowdhary commented on #45
Thanks!

[2020-08-24 19:35] #45 closed

[2020-08-25 11:05] #39 closed

[2020-08-25 11:22] AnandChowdhary opened #46 "[Bug] Skip CLA comment if already commented"
If there's already a comment "All contributors have signed the CLA", and there's a new push, the comment is added again.

It can be skipped if the new push is from the same contributors who have already signed the CLA.

[2020-08-25 11:27] ibakshay commented on #46
Hi @AnandChowdhary,
Could you please post the screenshot or link to the Pull Request where multiple comments are added by the CLA GA bot in the same Pull Request?
If this is the case, then it is a bug :/.

[2020-08-25 11:29] AnandChowdhary commented on #46
![Screen Shot 2020-08-25 at 16 58 00](https://user-images.githubusercontent.com/2841780/91169008-33947f00-e6f4-11ea-9b55-74a1cf859ed6.png)

[code]

[2020-08-25 11:38] ibakshay commented on #46
I just checked and this is a bug !. This bug is happening only for the custom pr comment when all the contributors have signed.
I will fix it today evening or feel free to contribute as you have already worked on the same topic before :).
https://github.com/cla-assistant/github-action/blob/master/src/pullrequest/pullRequestCommentContent.ts#L10

[2020-08-25 20:55] ibakshay commented on #46
Hey @AnandChowdhary, I have fixed this issue and it is reflected on this new release `v2.0.1-alpha` :)

[2020-08-26 12:28] domenkozar commented on #14
@ibakshay how come PAT is now required?

[2020-08-28 15:01] ibakshay commented on #14
We, unfortunately, need a PAT to access this [API](https://docs.github.com/en/rest/reference/actions#re-run-a-workflow) to re-run the previously failed CLA PR status checks when the contributor has signed the CLA. I have also asked about this thing,  in the [GitHub community forum](https://github.community/t/bug-rerun-workflow-api-not-working/126742)

[2020-08-28 15:02] ibakshay commented on #14
Before, we need to manually re-run the previously failed  CLA PR status check. So, PAT was not required.

[2020-08-29 10:46] domenkozar commented on #14
Wouldn't it be possible for the action now to push a commit to PR that would trigger the build?

[2020-09-08 21:05] ibakshay commented on #14
Hi @domenkozar,  I am sorry for the late response. I was on vacation 🌴.

Yes, you are right. Push event from the GitHub Acton wouldn't trigger the action workflows.
I even created a ticket in the GitHub Community discussion regarding this issue and come to know that, it is not possible :/ .
You can view my ticket in the GitHub Community forum  [here](https://github.community/t/bug-report-failed-st

[2020-09-21 12:19] michael-spengler opened #49 "Prepare "official" release"
currently just published as Alpha version...

1. OSPO ...

[2020-09-30 15:25] ibakshay opened #51 "DCO Support"
- [ ] core.info() for DCO
- [ ] documentation

[2020-10-06 13:32] ZoranPandovski opened #55 "[BUG] Error: Parameter token or opts.auth is required on PR"
**Describe the bug**
We are using the v2.0.0-alpha version. When someone makes a pull request the bellow error is shown. Note that this works for some users, so it's quite random.

[code]

**To Reproduce**
Check this [PR](https://github.com/mindsdb/mindsdb/pull/746)

[2020-10-07 07:33] RobiNino opened #57 "[Feature] Trim spaces from signature comment"
**Is your feature request related to a problem? Please describe.**
When users copy the signing line into a comment ("'I have read the CLA Document..."), it is often copied with extra spaces or new lines. Since the action is comparing the comment's content strictly to the expected line, it is not recognized as a signing. We sometimes have to ask the users to try again multiple times until they get

[2020-10-07 12:27] ibakshay commented on #55
Hi @ZoranPandovski, Thank you for reaching out to us..
I think I have found the issue :).

In the [CLA workflow file](https://github.com/mindsdb/mindsdb/blob/staging/.github/workflows/cla.yml), you have to trigger the CLA workflow for `pull_request_target` event but not for `pull_request` event.

This event `pull_request_target` is introduced by GitHub recently in order to support the PR from fork

[2020-10-07 13:05] ibakshay commented on #57
Hi @RobiNino, Thank you very much for the write up. I see this issue too, However, at the moment,  I don't have any solution to counter tbh.

I also thought of handling this use case inside the action itself but then again like you have mentioned, I don't want to execute this action for every single issue comment. So, I dropped this idea.

Yes, extra wording will make the signing invalid.

The opt

[2020-10-07 13:05] ZoranPandovski commented on #55
Thanks, @ibakshay for the response. I will change the event, in case the issue still happens I will reopen the issue.

[2020-10-07 13:05] #55 closed

[2020-10-07 13:09] ibakshay commented on #55
@ZoranPandovski, sure, sounds good..

[2020-10-23 21:57] Holzhaus opened #58 "[Feature] Add option to require full name when signing CLA"
I'm not a lawyer, but our team was discussing if just recording the GitHub user name is enough. People might delete their accounts or their PR and we're unsure this could cause problems.

How about adding an options to require the actual name when signing, e. g.:

It could then parse the name and add it to the JSON file. If the name is not present, doesn't consist of at least two words or contains

[2020-10-24 14:49] michael-spengler opened #62 "[Slack Integration] Test It"
see corresponding github workflows file.

[2020-10-24 14:49] michael-spengler commented on #62
test

[2020-10-24 14:50] michael-spengler commented on #62
test2

[2020-10-24 14:53] michael-spengler commented on #62
test3

[2020-10-24 15:25] michael-spengler commented on #62
test4

[2020-10-24 15:30] michael-spengler commented on #62
test5

[2020-10-24 15:53] michael-spengler commented on #62
t

[2020-10-24 16:08] michael-spengler commented on #62
a

[2020-10-24 18:19] #62 closed

[2020-10-30 12:02] ibakshay commented on #58
Hi @Holzhaus, thank you very much for reaching out to us.
Adding `full name` in the signature comment and storing it in the JSON file will be a good idea.  I will add this feature to our backlog and please feel to create a pull request if you are interested in contributing to this project :).

One thing to note is that this bot already stores the contributor's GitHub account id which is immutable

[2020-10-30 19:52] Holzhaus commented on #58
I'm not a lawyer, but there were concerns that a GitHub username might turn out to be insufficient in case of lawsuit. Do the lawyers at SAP think the username suffices? If so, this might be unnecessary.

[2021-01-10 09:06] cskiwi opened #67 "[BUG] Path to document is wrong in comment"
**Describe the bug**
The comment made on the PR includes a link to the CLA, But this was empty.
This is however on a private repo (for now) so that could be the reason.

**To Reproduce**
config:

[code]

**Expected behavior**
The link included in the commit message

[2021-01-12 13:59] ibakshay commented on #67
hi @cskiwi, Have you tried on a Public repository ? :)

[2021-01-13 20:11] AndrewGable commented on #57
+1 - This would be great. We are running into this somewhat often in https://github.com/Expensify/Expensify.cash

I'd be happy to provide a few examples if it is helpful!

[2021-01-16 03:37] harsimranmaan opened #68 "[Feature] Add ability to skip signed comment after CLA is signed"
**Is your feature request related to a problem? Please describe.**
Everytime the bot comments on the PR, it generates notifications which may not be ideal for all situations. I usually read all my github emails and the bot comments spam them.

**Describe the solution you'd like**
It should be possible to optionally skip the comment and maybe replace it with an alternative like a like on the PR or

[2021-01-17 20:19] harsimranmaan commented on #68
Using empty string does not skip the comment

[2021-01-21 06:36] ibakshay commented on #68
Hi @harsimranmaan, thank you for the feature request. Yes, you are right.  It totally makes sense not to add CLA bot comment on every PR if the contributor has already signed the CLA. Green [PR status check](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-status-checks) from CLA bot will be more than sufficient for this use-case.  I will implement this feature s

[2021-01-21 07:04] ibakshay commented on #57
Hi @RobiNino @andrei-panov, This issue is fixed by @yahavi in this PR https://github.com/cla-assistant/github-action/pull/69. Please update the CLA action workflow file  to the latest version `v2.0.3-alpha` so that this fix will be reflected :) .

[code]

[2021-01-21 07:58] yahavi commented on #57
I would recommend using [action-regex-match](https://github.com/actions-ecosystem/action-regex-match) to better deal with newlines:
[code]

[2021-01-21 08:35] RobiNino commented on #57
Thanks @yahavi.

@ibakshay, @AndrewGable,
Just to clarify, the solution only works if both #69 & [@yahavi's above comment](https://github.com/cla-assistant/github-action/issues/57#issuecomment-764453909) are used together.
The regex makes the CLA action accept comments with spaces (i.e not strict as `==`), and the `trim()` in #69 handles those spaces inside the CLA action.

This works for me, clos

[2021-01-21 08:35] #57 closed

[2021-01-22 11:15] vHanda opened #70 "[Question] How to handle deleted / edited comments?"
Hi. From what I understand this bot will make a commit adding a json file with the following info -

[code]

How does this handle the case if the comment is later deleted by the user or edited and the older version is deleted?

[2021-01-24 17:54] ibakshay commented on #70
Hi @vHanda,
Thank you for reaching out to us. Are you asking about the **signature comment**  from the contributor ?

[2021-01-24 18:01] vHanda commented on #70
Hi @ibakshay . Yes. I'm not sure how this works if the signature comment is deleted or edited.

[2021-01-24 18:15] ibakshay commented on #70
It is a very good question. Unfortunately,  this bot doesn't handle this use case yet. So, the  CLA GitHub Action workflow won't be triggered If the signature comment from the contributor is deleted or edited. One thing a project admin can do is to directly check on the GitHub UI or with GitHub API If the signature comment is edited. However, that is not possible If the contributor deletes the sig

[2021-01-24 18:55] vHanda commented on #70
There is a way to edit a comment and remove the older version. But I guess one would at least be able to see the edited time in that case.

Do you know how the normal cla-assistant handles this case?

--

One way to solve it could be to require the user to also post the digital signature (using pgp) in the comment. And requiring the user to have their public key on a pgp key-exchange server. Or ma

[2021-01-26 16:06] ibakshay commented on #70
In normal CLA instance, the contributors will be navigated to a seperate web page and contributors will sign with the click of a button.

Sounds interesting to me. I will dig deeper into this topic to get further insights. The main idea of CLA assistant lite is to reduce the complexity and to keep things as simple as possible. So, we need to make sure it doesn't get complex.

Also, I forgot to men

[2021-01-29 16:31] rsbeckerca commented on #55
This fix did not help in my repo. Any other options?

[2021-01-29 16:43] rsbeckerca opened #71 "[BUG] Exception when executing the cla-assistant during pull - Parameter token or opts.auth is required"
**Describe the bug**
Getting a `Parameter token or opts.auth is required` error when the `cla-assistant` is run when a pull request is created, whether there is another pull request with the **I have read the CLA Document and I hereby sign the CLA** comment in a separate pull request comment. Currently on V2.0.3-alpha. The repo where this is being tested is rsbeckerca/TestCLA. I am suspecting that

[2021-02-01 07:10] ibakshay commented on #71
Hi @AndrewGable, thank you for reaching out to us.
Did you add your [Personal Access token with repo scope](https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token) into the test repository `rsbeckerca/TestCLA` secrets ?

<img width="1770" alt="Screenshot 2021-02-01 at 08 06 18" src="https://user-images.githubusercontent.com/33329946/106425860-d94ad780-6464-11eb

[2021-02-02 14:18] rsbeckerca commented on #71
Thanks. That was it.

[2021-02-02 14:18] #71 closed

[2021-02-02 17:38] AndrewGable commented on #68
Big fan of this feature as well 👍

[2021-02-02 17:49] AndrewGable opened #72 "[BUG] Error thrown when user reviewer comments after a merge"
**Describe the bug**
1. PR author signs CLA (https://github.com/Expensify/expensify-common/pull/327#issuecomment-769344096)
2. Reviewer approves PR (https://github.com/Expensify/expensify-common/pull/327#pullrequestreview-581568256)
3. Reviewer merges PR (https://github.com/Expensify/expensify-common/pull/327#event-4280480581)
4. Reviewer comments on PR (https://github.com/Expensify/expensify-comm

[2021-02-05 07:34] ibakshay commented on #72
Hi @andrei-panov, Ideally CLA step shouldn't even be triggered when there is a PR comment other than `I have read the CLA Document and I hereby sign the CLA` or `recheck`.

Could you please check the regex action which you are using? . I feel there is a bug in their side. I might be wrong though.
[code]
I have checked without regex validation and the CLA step is not triggered.

[code]

Test reposi

[2021-02-05 17:02] ibakshay commented on #68
This feature is available in today's new release 😄
[code]

[2021-02-05 17:06] ibakshay commented on #68
So, the bot won't post any PR comment if the contributor has already signed the CLA when creating a PR. Only PR status check will be set to success.

[2021-02-07 18:40] harsimranmaan opened #74 "What does the alpha versioning mean?"
I am a bit confused by the versioning on this action. What does alpha really mean? When can a stable v2 be expected?

[2021-02-11 18:13] AndrewGable commented on #68
We've been using this over at https://github.com/Expensify/Expensify.cash and it's been working great, thank you!

[2021-02-20 21:44] ibakshay commented on #74
Hi @harsimranmaan, I am sorry for the late response. My apologies.
We wanted to see, If this bot is really stable as the GitHub Action platform was quite new when this bot is developed. Thats why we kept the Alpha flag in every new release. Its been a year and I am happy to tell you that there are no breaking bugs reported so far from the users. So, I can say that this action is stable and I have

[2021-02-27 21:41] harsimranmaan commented on #74
Thanks @ibakshay. I tried the new action which does not post comments. Works perfectly. Thanks. I am looking forward to you releasing a stable version soon.

[2021-02-27 21:41] #74 closed

[2021-03-12 16:30] AndrewGable commented on #72
We haven't seen this anymore, thank you for your reply!

[2021-03-12 16:30] #72 closed

[2021-03-12 16:36] AndrewGable opened #77 "[Feature] Make locking pull request an optional flag"
**Is your feature request related to a problem? Please describe.**
In our open source repo we sometimes have contributors who accidentally close their PRs, which locks them as mentioned here: https://github.com/cla-assistant/github-action/issues/70#issuecomment-767647956

The contributors cannot comment after this happens, leaving them to ask if we can manually unlock the pull request so they can

[2021-03-14 21:46] ibakshay commented on #77
Hi @AndrewGable, Absolutely, 100 percent!.  This feature request makes a lot of sense. I will work on this topic and I will get it done before the end of next week :) . I will let you know here soon after I have made a new release :)

[2021-03-14 22:33] #68 closed

[2021-03-14 22:34] #46 closed

[2021-03-20 22:34] ibakshay commented on #77
This feature is implemented and reflected in the new release `v2.1.2-beta` :) .
You need to add this input `lock-pullrequest-aftermerge: false` to your [CLA action](https://github.com/Expensify/Expensify.cash/blob/5cc1a8178568e36665cd6e9503014730ced1be2e/.github/workflows/cla.yml#L39)  and then the pull request won't be locked automatically by CLA action bot anymore.

[2021-03-22 22:26] AndrewGable commented on #77
Thank you @ibakshay! I updated all our repos to the latest version.

[2021-03-23 15:08] #77 closed

[2021-03-31 12:52] michael-spengler opened #79 "Transfer Ownership to SAP org - https://github.com/sap"
1. rename repo from "github-action" to "contributor assistant" (check with branding colleagues - same logo different color.. https://www.sapbrandtools.com/naming-center/#/dashboard)
2. check legal prerequisites (maintainers... / [internal checklist](https://wiki.wdf.sap.corp/wiki/pages/viewpage.action?spaceKey=ospodocs&title=Create+an+SAP+Open+Source+Project))

[2021-03-31 12:58] michael-spengler opened #80 "Add a disclaimer on https://cla-assistant.io/ for new users"
...." new to CLA Assistant - please consider using the lightweight .... "

[2021-04-07 09:09] michael-spengler commented on #79
![Screenshot 2021-04-07 at 11 08 34](https://user-images.githubusercontent.com/43786652/113841113-accb7880-9791-11eb-9d83-9ec6b2f77d4d.png)

[2021-04-08 17:21] swathimr opened #81 "Error when re-running the workflow"
After signing the comment "I have read the CLA Document and I hereby sign the CLA". The workflow reruns but I see this error
"Error: Error occurred when re-running the workflow: HttpError: Bad credentials"

**To Reproduce**
- Create a pull request . The action runs and adds a comment saying "sign the cla"
- Once the cla is signed it get added to the signatures
- When the workflow reruns and see th

[2021-04-08 19:52] ibakshay commented on #81
Hi @swathimr, were you able to solve the issue ? :)

[2021-04-12 19:36] swathimr opened #82 "[BUG] Allow list in cla.yml not working as expected"
**Describe the bug**
Specifying my user name in allow list still executes the github action.

**To Reproduce**
1. Add allow list to cla.yml `allowlist: gitusername,bot*`.
2. commit changes and update a test read me file.
3. Notice the cla assistant github action in-spite the allow list  has the user name.
4. This also does not add the signature in to the signature.json file.
5. Keeping only bot in

[2021-04-19 07:13] ibakshay commented on #82
Hi @swathimr,
I am sorry for the late response. Could you please send the link to your pull request ?. I will check it out and get back to you :)

[2021-04-19 07:15] ibakshay commented on #81
Hi @swathimr, As far as I know, it is not possible.

[2021-04-19 18:35] swathimr commented on #82
Here it is https://github.com/swathimr/edgeworkers-examples/pull/38. This should not trigger the action since I have added my github username in the allowlist. However I still see the action triggered and prompted for sign.

[2021-04-21 17:04] swathimr commented on #82
Hi @ibakshay did you get a chance to take a look at this ?

[2021-04-22 07:35] ibakshay commented on #82
I just checked and it looks like it is a bug from my side. Sorry for that.
Actually I retriggered using `recheck` pull request comment and the CLA check has passed. https://github.com/swathimr/edgeworkers-examples/actions/runs/773348859. It is just that, this CLA action is not retriggering the old failed Pull Request CLA status check and updating the [CLA comment](https://github.com/swathimr/edgew

[2021-04-22 07:43] ibakshay commented on #82
For your information,

This issue occurs only when you have added a user to the `allowlist` after creating a new Pull request.

[2021-04-26 10:21] ibakshay commented on #82
Hi @swathimr, this is not exactly a bug. This is the default behaviour of GitHub Actions platform. So, [this CLA workflow](https://github.com/swathimr/edgeworkers-examples/pull/38/checks?check_run_id=2383730189) is failed because your name was not added to the `allowlist` when this workflow is triggered. You have added your name to the `allowlist` later after this workflow is failed. However, this

[2021-04-26 10:30] ibakshay opened #83 "[BUG] test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-04-26 10:34] ibakshay opened #84 "[BUG] test issue2"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-04-26 10:35] #84 closed

[2021-04-26 10:35] #83 closed

[2021-04-29 16:02] swathimr commented on #82
Thanks for the response Akshay ! closing this.

[2021-04-29 16:02] #82 closed

[2021-04-30 13:23] fauust opened #85 "[Feature] allow an alternative license"
**Is your feature request related to a problem? Please describe.**
The actual CLA-Assistant permits to ask the contributor to use an alternative license by using a specific `metadata` gist file:

For instance, we currently use something like:
[code]

**Describe the solution you'd like**
Is there an option to handle this case with CLA-assistant-lite?

[2021-06-02 07:34] ivan opened #91 "[BUG] Unrelated user is tagged with @ in comment"
**Describe the bug**

On a project I do not control, in https://github.com/exadel-inc/CompreFace/pull/543#issuecomment-852254987, the action seems to have inserted "@ivan" in the comment, causing GitHub to send an email to an unrelated ivan (me).

**To Reproduce**

I don't know, but "Ivan Kurnosau seems not to be a GitHub user" is probably related.

**Expected behavior**

Please don't @ unrelated

[2021-06-02 16:16] pospielov commented on #91
Hi there, I'm a CompreFace repository contributor and looks like I know how to reproduce it.
So real Ivan Kurnosau has such config for git on a local machine:
user.email: ...@exadel.com
user.name: Ivan Kurnosau
But his GitHub Account has another email: ...@gmail.com
So, `cla-assistant` didn't find such a user and just used a local `user.name` to tag a user
But because `user.name` has space, it tag

[2021-06-06 14:29] rfaircloth-splunk opened #92 "[Feature] Output user and email to logs of unsigned users"
**Is your feature request related to a problem? Please describe.**
As a repo admin troubleshooting why signatures are not accepted it would be helpful to produce a list of github IDs+emails included in the PR record

**Describe the solution you'd like**
Use more verbose logging in the action to make problematic commit obvious

**Describe alternatives you've considered**
Manual debugging

**Additio

[2021-06-06 15:05] ibakshay commented on #85
Hi @oganexon, Can you check If this feature can be implemented from our side ?
If yes, what will be the effort required ?

CC: @michael-spengler

[2021-06-06 15:09] ibakshay commented on #92
Hi @rfaircloth-splunk, Thanks a lot for creating this feature request. Feel free to create a PR for this ticket. If not, we will implement more verbose logging solution from our side :) .

[2021-06-06 15:23] ibakshay commented on #91
Hi @ivan, I am really sorry that this GitHub action has sent you a unrelated email. I will fix this bug soon.
@pospielov  Thank you for the explanation :). You are absolutely right 😄.

[2021-06-07 08:33] oganexon commented on #85
Regarding the pre-filled information, we can retrieve it during the execution of the action with a call to the API.

However, filling in the form without an interface is not an easy task. Radio buttons or text boxes with content validation will not be possible with comments.

### Solution 1

An alternative solution would be to put a hyperlink with some pre-filled information in parameters that wou

[2021-06-09 13:27] michael-spengler commented on #85
We'll call the corresponding frontend component License Configurator (form...). The whole contributor assistant frontend will be served via GitHub Pages. We won't need any server and still can provide a UI.

[2021-06-23 09:40] knqyf263 opened #93 "[Feature] Define allowlist in files"
Hi team. Thank you for the great project.

It would be great if allowlist can be defined in files since we need to support corporate-level contributors. A company manages a file containing user names in the company and we want to assume they've signed our CLA. Moreover, it is better to specify a directory where there are allowlist files because we don't want to add a file name every time a new com

[2021-07-21 15:48] #24 closed

[2021-09-09 00:45] stardiviner commented on #55
I got same error on my workflow https://github.com/stardiviner/kiwix.el/pull/7/checks
My workflow is correct as @ibakshay mentioned.

[2021-10-29 23:16] Mraldossri opened #96 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-10-29 23:16] Mraldossri opened #97 "[Feature]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-29 23:18] Mraldossri commented on #97
Mraldossri

[2021-10-31 11:13] #96 closed

[2022-02-04 13:56] sebastianpiq opened #99 "[BUG] HttpError: Not Found on re-running the workflow"
**Describe the bug**
After signing "I have read the CLA Document and I hereby sign the CLA" as a comment. The CLAssistant Action saves the user sign in the JSON but when it tries to re-run the last failed action it returns a HttpError: Not Found

The cla.yml that I am using:

[code]

**To Reproduce**
- Create a Pull Request and wait for the failure of the CLAssistant Action
- Left "I have read the

[2022-02-08 14:43] #99 closed

[2022-03-07 15:11] flaxel opened #100 "[Feature] AllowList with Teams"
**Is your feature request related to a problem? Please describe.**
Currently it is only possible to set users to the `allowlist`.

**Describe the solution you'd like**
I would like to have the possibility to add also teams to this list.

**Describe alternatives you've considered**
Otherwise it would be helpful to add another variable.

[2022-03-28 01:21] jsoref commented on #79
This goes against GitHub's recommendations wrt renaming repositories:
https://docs.github.com/en/repositories/creating-and-managing-repositories/renaming-a-repository

[2022-03-28 01:50] jsoref opened #103 "[BUG] Error handling for forked repositories is painful"
**Describe the bug**
Forks of repositories are standard practice in GitHub.

It's ok to throw a pretty error when a required field is missing. It's really annoying to dump 23k of error content for an expected error path.

**To Reproduce**
Steps to reproduce the behavior:
1. fork https://github.com/hugegraph/hugegraph
2. create a branch with some content
3. create a pull request targeting the forke

[2022-06-30 09:07] ibakshay commented on #93
Hi @knqyf263,
First of all, I am really sorry for a late response.
I find this feature very useful. Feel free to create a pull request. If not, I will work on it in the coming weeks :)

[2022-06-30 09:15] ibakshay commented on #100
Hi @flaxel,
I am sorry for a late response.  Adding another variable something like `allowteamslist` will be a good solution for this feature. I will work on it in the coming weeks or feel free to create a PR :)

[2022-06-30 11:10] ibakshay commented on #103
Hi @jsoref,
I am sorry for the late response. I am working on it. I will write you here, once I come up with a solution :)

[2022-07-18 11:33] ZoranPandovski commented on #103
@ibakshay is this resolved?

[2022-07-18 11:40] jsoref commented on #103
No worries. I'm slow and deliberate about fixes for my action.

[2022-07-20 15:20] #103 closed

[2022-07-20 15:20] #97 closed

[2022-07-22 10:49] ZoranPandovski opened #108 "[BUG]Latest version is missing on marketplace"
**Describe the bug**

The latest v2.0.0 is not published on the marketplace.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to the v2.0.0 version
2. Unable to resolve action `contributor-assistant/github-action@v2.0.0`, unable to find version `v2.0.0` is thrown.

[2022-08-05 18:06] ibakshay commented on #108
Hi @ZoranPandovski,
Thank you for raising this issue. I have now published another new patch version that is also published on GitHub market place -  https://github.com/marketplace/actions/cla-assistant-lite.

[2022-08-05 18:06] #108 closed

[2022-08-22 12:03] jsoref opened #110 "[BUG] Unexpected end of JSON input"
**Describe the bug**
`Unexpected end of JSON input`

**To Reproduce**
Steps to reproduce the behavior:

1. Create a PR to a project
https://github.com/AlexRogalskiy/java-patterns/actions/runs/2903651345/workflow
https://github.com/AlexRogalskiy/java-patterns/runs/7951029716?check_suite_focus=true

[code]

**Expected behavior**
Error messages should be easily understood by humans, not just underlyi

[2022-08-22 12:24] jsoref opened #111 "[BUG] Cannot index string with string "name""
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. File an issue in this repository
https://github.com/contributor-assistant/github-action/actions/runs/2903712418/workflow
https://github.com/contributor-assistant/github-action/runs/7951201572?check_suite_focus=true

[code]

**Expected behavior**
No errors while filing a ticket. (Also, as with #110, error messages sh

[2022-08-25 14:29] simonmeggle commented on #81
I have exactly the same problem. The `PERSONAL_ACCESS_TOKEN` was not deleted in my case - it is still there (as expected).

How did you solve the problem?

[2022-08-25 15:01] simonmeggle commented on #39
Hi @ibakshay , I still have this problem with the latest release, see #81 ...
Just to go sure: is it sufficient to have the `PERSONAL_ACCESS_TOKEN` defined as a repository secret? Is this the token used to [rerun](https://docs.github.com/en/rest/actions/workflow-runs#re-run-a-workflow) the workflow?

[2022-08-25 15:28] simonmeggle commented on #39
I just tried it with a new pull request: the bot is asking for signature, the user signs, but the action still fails.
Example:
https://github.com/elabit/robotframework-checkmklibrary/pull/3

![image](https://user-images.githubusercontent.com/1897410/186707001-0fac8564-d2d9-49cc-95ee-07360089aeb1.png)

[2022-08-25 15:38] simonmeggle opened #113 "Usage of"
**Describe the bug**
It is not possible to link to the CLA document if you use a custom `custom-notsigned-prcomment` in `cla.yml`.

**To Reproduce**
Add this line to `cla.yml`:

    custom-notsigned-prcomment: '<br/>Thank you for your Pull Request, we really appreciate it!<br/>We kindly ask that you to sign our [Contributor License Agreement](${input.getPathToDocument()}) before....  ... .... '

B

[2022-08-29 05:25] ghuntley opened #114 "[Feature] By default link to the pull-request in the commit message"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As the GitHub Action can be configured with a centralised CLA across many repositories (via `remote-repository-name` and `remote-organization-name`) having a commit message of "from pull-request $number" does not convey enough information.

[2022-09-28 20:04] martinscooper opened #116 "[Feature] Missing default env variable values in the documentation"
**Is your feature request related to a problem? Please describe.**
I am using the CLA assistant for the first time. I expected to find the default value of the env variables stated in the documentation. With this I am refering to the ones listed in the table titled `Inputs description`. A `Default value` for optional variables could be added. The default variable could also be the value of those e

[2022-09-30 18:42] larcher commented on #100
Slight variation on this: would be nice to have an `allowOrgsList` as well, to allow members of an org to skip the CLA.

[2022-10-02 20:17] silviogutierrez commented on #91
@pospielov : I believe this is still occurring, see here: https://github.com/silviogutierrez/reactivated/pull/222

[2022-10-11 22:20] tovbinm opened #118 "[Feature] Upgrade Node.js"
**Is your feature request related to a problem? Please describe.**
Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/.

**Describe the solution you'd like**
Please update a newer version, e.g Node.js 16

**Describe alternatives you've considered**
N/A

**Additional context*

[2022-11-02 09:22] unional opened #119 "[Q] allow `renovate`"
I want to allow `renovate` bot to skip CLA but not using the `bot*` which I think is too board.

I have tried `allowlist: renovate` and `allowlist: renovate[bot]` both doesn't work.

What is the right value?

[2022-11-06 12:39] artemrys commented on #118
Created a PR to address the update to Node 16 here: #120

[2022-11-16 18:56] julian-smith-artifex-com opened #121 "[BUG]"
**Describe the bug**
After the CLA has been agreed, the text on the PR's Conversastion page has a confusing bright red warning/error at the end of the comments, saying "All checks have failed".

Apologies inadvance if i've misunderstood something here.

**To Reproduce**
Enable contributor-assistant/github-action in a github repository as described in documentation.
Create a pull request.
Note that